sudo: false
language: rust
# cache: cargo

os:
 - windows
 - linux
 - osx

arch:
- amd64
- arm64
- ppc64le

rust:
  - stable
  - nightly

evn:
  - RUST_BACKTRACE=1

script:
  - cargo test
  - cargo test --release
