[package]
name = "generator"
version = "0.6.13"
authors = ["Xudong Huang <huangxu008@hotmail.com>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/Xudong-Huang/generator-rs.git"
homepage = "https://github.com/Xudong-Huang/generator-rs.git"
documentation = "https://docs.rs/generator"
description = "Stackfull Generator Library in Rust"
readme = "README.md"
keywords = ["generator", "coroutine", "green", "thread", "fiber"]
categories = ["data-structures", "algorithms"]
build = "build.rs"
exclude = [
    ".gitignore",
    ".travis.yml",
    "appveyor.yml",
    "benches/**/*",
]

[dependencies]
log = "0.4"

[build-dependencies]
rustc_version = "0.2"
cc = "1.0"

# release build
[profile.release]
lto = true
